html {
  height: 100%;
  box-sizing: border-box;
  background: map_get($theme, 'page-bgColor');

  *, *::before, *::after {
    box-sizing: inherit;
  }
}

body, #root, .ant-layout {
  height: 100%; margin: 0;
}